<%= form_for(@carrera) do |f| %>
  <% if @carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrera.errors.count, "error") %> prohibited this carrera from being saved:</h2>

      <ul>
      <% @carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alumno_id %><br>
    <%= f.number_field :alumno_id %>
  </div>
  <div class="field">
   
   <% carreras ={
    'Derecho' => 'derecho',
    'Mecatrónica' => 'mecatronica',
    'Informática' => 'informatica',
    'Turismo' => 'turismo',
   }
   %>
    <%= f.label :Carrera %><br>
    <%= f.select :Carrera, carreras %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
