<p id="notice"><%= notice %></p>

<p>
  <strong>Alumno:</strong>
  <%= @carrera.alumno_id %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @carrera.Carrera %>
</p>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
