<%= form_for(@alumno) do |f| %>
  <% if @alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno.errors.count, "error") %> prohibited this alumno from being saved:</h2>

      <ul>
      <% @alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </div>
  <div class="field">
    <%= f.label :Apellido_Paterno %><br>
    <%= f.text_field :Apellido_Paterno %>
  </div>
  <div class="field">
    <%= f.label :Apellido_Materno %><br>
    <%= f.text_field :Apellido_Materno %>
  </div>
  <div class="field">
    <%= f.label :Fecha_De_Nacimiento %><br>
    <%= f.date_select :Fecha_De_Nacimiento, start_year: 1960, last_year: 2020 %>
  </div>
  <div class="field">

    <% sexos ={
      'Masculino' => 'M',
      'Femenino' => 'F',
    }
    %>
    <%= f.label :Sexo %><br>
    <%= f.select :Sexo,sexos %>
  </div>
  <div class="field">

    <% categorias ={
      'Tiempo Completo' => 'tiempo_completo',
      'Medio Tiempo' => 'medio_tiempo',
      'Educación a Distancia' => 'educacion_a_distancia',
    } 
    %>
    <%= f.label :Categoria %><br>
    <%= f.select :Categoria, categorias %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
