<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.Nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @alumno.Apellido_Paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @alumno.Apellido_Materno %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @alumno.Fecha_De_Nacimiento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @alumno.Sexo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @alumno.Categoria %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
